.landing-page {
  background-color: #F7F7F7;
  height: 100vh;
}

.main {

}

/* index css */
.center {
  text-align: center;
  margin-top: 175px;
}

.center h1 {
  font-size: 6rem;
  font-family: 'Audiowide', cursive;
}

.center p {
  font-size: 2rem;
  font-family: 'Merriweather Sans', sans-serif;
}

.landing-text {
  padding: 10px;
  color: #032D56;
}

.landing-button-row {
  padding-bottom: 10px;
}

.landing-button {
  margin-bottom: 10px;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 600;
}

.btn-default {
  background-color: #A0E8E8;
}

.btn-default:hover {
  background-color: #F2CEE6;
}

/* section css */
.nav-container h1 {
  font-family: 'Audiowide', cursive;
}

.nav-content {
  margin-top: 20px;
  color: #032D56;
}

.logo-col {
  padding-left: 0;
}

.nav-bar-search {
  float: right;
}

.title {
  font-family: 'Merriweather Sans', sans-serif;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}

.article {
  padding-bottom: 20px;
}

.coin-holder {
  float: left;
}

.coin-img {
  height: 75px;
  margin: -50px 10px 10px 20px;
  position: absolute;
  z-index: 999;
}

.article-img {
  z-index: -999;
}

.article-info {
  margin: 10px 0 10px 100px;
}

.article-info time{
  float: right;
}

@media screen and (min-width:768px) {

}

@media screen and (max-width: 767px) {
  .nav-content {
    float: none;
  }
}
